{
    "branches": [
        "main",
        "dev"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "npm install -g  @directus/extensions-sdk && npm run build"
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        "@semantic-release/npm",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "dist/",
                    "CHANGELOG.md"
                ]
            }
        ],
        "@semantic-release/github"

    ]
}